<!-- Must add ejs extensions for views -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- this a special syntax for ejs to parse data -->
		<h1>Hello <%= user %></h1>
		<form action="/" method="POST">
			<input type="text" name="username" autocomplete="off" />
			<button>Send</button>
		</form>
	</body>
</html>
